<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Secret Saver</title>
    </head>


    <body>
      <h1>Secret Saver</h1>

      <table>
        <tr>
        <th style="text-align:left">Username: <td>{{user.username}} 
      </table>


      <form action='logout/' method="POST">
        {% csrf_token %}
        <input type="submit" value="Logout"/>
      </form>
      
      <h2>Your Secrets</h2>

      <ul>
        {% for s in secrets %}
        
        <!-- Flaw-3 -->
        <!-- <a href='/secret/?id={{s.id}}'><li>{{s.secret}}</li></a> -->
        <a href='/secret/?user={{user.username}}&id={{s.id}}'><li>{{s.secret}}</li></a>

        {% endfor %}
      </ul>

      <h2>Save a new secret</h2>

      <form action='save/' method="POST">
        {% csrf_token %}

        <input type="text" name="secret"/><br/>
        <input type="submit" value="Save"/>
      </form>
    </body>
</html>
